.video-list {
    flex-basis: 25%;
    /* max-width: 320px; */
    max-height: 100vh;
    overflow-y: scroll;
}

.video-list .item {
    margin: 0 0 20px 0;
    cursor: pointer;
}

.ui.list {
    margin: 0;
}

.video-list .item img {
    padding: 0 8px 8px 8px;
}

.video-list .item .content .header {
    margin: 8px 0 0 0;
}

@media only screen and (max-width: 992px) {
    .ui.list {
        margin: 20px 0 0 0;
    }
    .video-list {
        max-height: 50vh;
    }
}