.video-list {
    /* flex-grow: 0; */
    max-width: 320px;
}

.video-list .item {
    margin: 0 0 20px 0;
    cursor: pointer;
}

.video-list .item img {
    padding: 8px;
}

.video-list .item .content .header {
    margin: 8px 0 0 0;
}
